*body{
    background-color: cornflowerblue;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
h1{
    background-color: black;
    text-align: center;
    color: white;
}

#ramen-menu {
    display: flex;
    justify-content: center;

    gap: 10px;
    margin-bottom: 20px;
}

#ramen-menu img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s;
}

#ramen-menu img:hover {
    transform: scale(1.1);
}

#ramen-detail {
    text-align: center;
    margin-bottom: 20px;
}

#ramen-detail img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20px;
}

form{
    display:flex;
    flex-direction: column;
    margin-right: auto;
    margin-left: auto;
    width: 30%;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;   
}
.title{
    background-color: black;
    color: white;
}
textarea{
    resize: vertical;
    max-height: 100px;
}
button,input,textarea,select{
    outline: none;
    border:1px solid #63a4fa;
}

